*.h.in~
*.o
*.og
*.op
*.gcno
*.gcda
*.gcov
core
.gdb_history

.deps

*.exe
*.dep
*.diff
*.orig
*.patch
*.rej
/tests/run.sh

/aclocal.m4
/autom4te.cache/
/buildsys.mk
/config.h
/config.h.in
/config.log
/config.status
/configure
/pkgconf
/pkgconf-gcov
/pkgconf-profile

Makefile
